{% extends 'base.html' %}

{% block content %}
    <div id="home" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1><strong><u><u>TENANT TRACKER</u></u></strong></h1>
            </div>
        </div>
        <div class="row">
            <div  class="col-md-10">
                {% for i in tenant %}
                  <div id="tenant" class="container">
                      <div class="row">
                          <div class="col-md-3">
                              <h5><strong><u>Name</u></strong></h5>
                              {{i.tname}}
                          </div>
                          <div class="col-md-2">
                                <h5><strong><u>Room type</u></strong></h5>
                                {{i.troom_type}}
                          </div>
                          <div class="col-md-2">
                            <h5><strong><u>M.status</u></strong></h5>
                              {{i.tmarital_status}}
                        </div>
                        <div class="col-md-2">
                            <h5><strong><u>Year</u></strong></h5>
                            {{i.tyear_in}}
                        </div>
                          <div class="col-md-3">
                            <a href="/delete/{{i.id}}" class="btn btn-outline-danger">DELETE</a>
                          </div>
                      </div>
                  </div>
                {% endfor %}
            </div>
            <div class="col-md-2">
              <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter">
                    ADD TENANT
                </button>
                
                <!-- Modal -->
                <div style="padding: 2%;" class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div id="formy"  class="modal-content">
                       
                        <div style="width: 50%;" class="modal-body">
                            <!-- form start -->
                            <form action="{% url 'home' %}" class="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    {{ tenant_form.as_table }}
                                    <hr>
                                    <br>
                                    <hr>
                                    <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Submit</button>
                                </div>
                            </form>
                            <!-- endform -->
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    <!-- retry -->

   